{{/* Background decorations - clouds and ground items with parallax */}}
<div class="parallax-container fixed inset-0 pointer-events-none overflow-hidden">
  {{/* Floating clouds */}}
  {{ range .Site.Data.decorations.clouds }}
    {{- $style := printf "top: %s;" .top -}}
    {{- with .left }}{{ $style = printf "%s left: %s;" $style . }}{{ end -}}
    {{- with .right }}{{ $style = printf "%s right: %s;" $style . }}{{ end -}}
    <span
      class="floating-element text-{{ .size }}{{ if .desktop_only }} hidden md:block{{ end }}"
      style="{{ $style | safeCSS }}"
      data-depth="{{ .depth }}"
    >{{ .emoji }}</span>
  {{ end }}

  {{/* Ground items (trees, buildings) */}}
  {{ range .Site.Data.decorations.ground }}
    {{- $style := printf "bottom: %s;" .bottom -}}
    {{- with .left }}{{ $style = printf "%s left: %s;" $style . }}{{ end -}}
    {{- with .right }}{{ $style = printf "%s right: %s;" $style . }}{{ end -}}
    <span
      class="static-decoration text-{{ .size }}{{ if .desktop_only }} hidden md:block{{ end }}"
      style="{{ $style | safeCSS }}"
    >{{ .emoji }}</span>
  {{ end }}
</div>
