{{ define "main" }}
<div class="max-w-4xl w-full">
    <h2 class="text-5xl text-slate-900 mb-12">DISPATCHES</h2>
    <div class="grid gap-8">
        {{ range .Pages }}
        <a href="{{ .RelPermalink }}" class="block group bg-white p-8 rounded-3xl border-2 border-slate-100 hover:border-green-500 transition-all custom-shadow cursor-pointer no-underline">
            <div class="flex justify-between items-start mb-4">
                <span class="text-xs font-black text-green-600 uppercase tracking-widest">{{ .Date.Format "Jan 2006" }}</span>
                <span class="text-2xl group-hover:translate-x-2 transition-transform text-slate-800">→</span>
            </div>
            <h4 class="text-2xl font-bold mb-2 group-hover:text-green-600 transition-colors text-slate-900">{{ .Title }}</h4>
            <p class="text-slate-500">{{ .Summary }}</p>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}
